rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if ture;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == resouce.data.uid && resouce.data.uid == request.resouce.uid;
      allow delete: if request.auth.uid == resouce.data.uid;
    }
  }
}