h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register {
  width: 350px;
  height: 450px;
  background-color: azure;
  margin-left: auto;
  margin-right: auto;

  &__form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 42px;
  }

  &__fullwidth {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }
}

.confirm {
  text-align: center;
  margin-top: 42px;
}

.google-button {
  text-align: center;
  margin-top: 42px;
}
