.submit {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.request {
    width: 100%;
    text-align: center;
    margin-top: 36px;
    

    &__rink {
        text-decoration: none;
        color: black;
    }

    &:hover {
        text-decoration: underline;
    } 

   
      
}