* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;

  &__Logo {
    font-weight: bold;
    font-size: 24px;
  }
}

.footer {
  &__allrightsresarved {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

  &__userimg {
    width: 50px;
    height: 50px;
    background: center/cover;
    border-radius: 50%;
    margin-right: 16px;
  }

  &__logoutbtn {
    margin-right: 16px;
  }
}
