<div class="header">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="header__Logo">NIWASAKI</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <button
    [routerLink]="['/rogin']"
    routerLinkActive="router-link-active"
    mat-raised-button
    color="primary"
  >
    ログイン
  </button>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <mat-toolbar>
    <mat-toolbar-row>
      <span></span>
      <div class="footer__allrightsresarved">
        All rights reserved by Niwasaki.
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
