<div class="header">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="header__Logo">NIWASAKI</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="avatar" *ngIf="user$ | async; else loginBlock">
    <button
      mat-raised-button
      color="Basic"
      (click)="logout()"
      class="avatar__logoutbtn"
    >
      ログアウト
    </button>
  </div>

  <ng-template #loginBlock>
    <button
      [routerLink]="['/rogin']"
      routerLinkActive="router-link-active"
      mat-raised-button
      color="primary"
    >
      ログイン
    </button>
  </ng-template>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <mat-toolbar>
    <mat-toolbar-row>
      <span></span>
      <div class="footer__allrightsresarved">
        All rights reserved by Niwasaki.
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
